@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Open+Sans:wght@300;400;500&display=swap");

:root {
	--clr-neutral: #f8f9f9;
	--clr-accent: #7d2ae8;
	--clr-header-background: radial-gradient(100.99% 100.73% at 0 0, rgba(0, 196, 204, 0.725916) 0, #00c4cc 0.01%, rgba(0, 196, 204, 0) 100%),
		radial-gradient(68.47% 129.02% at 22.82% 97.71%, #6420ff 0, rgba(100, 32, 255, 0) 100%),
		radial-gradient(106.1% 249.18% at 0 0, #00c4cc 0, rgba(0, 196, 204, 0) 100%),
		radial-gradient(64.14% 115.13% at 5.49% 50%, #6420ff 0, rgba(100, 32, 255, 0) 100%), #7d2ae7;

	--shadow-neutral: rgba(32, 33, 36, 0.28);
	--font-weight-light: 300;
	--font-weight-regular: 400;
	--font-weight-medium: 500;
	--font-italics: "Courgette", cursive;
	--font-regular: "Open Sans", sans-serif;

	--check-height: 1.5em;
	--check-width: calc(var(--check-height) / 2);
	--check-left: 8.5em;
	--check-top: 12.5em;
	--check-thickness: 3px;
	--check-color: #5cb85c;
}

/* Table of Contents */
/* 1. Header - Line 44 */
/* 2. Container Layout - Line 75 */
/* 3. Book layout - Line 84 */
/* 4. Read button Layout - Line  */
/* 5. New Book Button - Line 108 */
/* 6. New book window - Line 120 */
/* 7. New book form inputs - Line 147 */
/* 8. Book Read Checkmark - Line 169  */

html,
body {
	font-family: var(--font-regular);
}

/*1. Header */

.header {
	display: flex;
	align-items: center;
	height: 15em;
	max-width: 100%;
	margin-bottom: 1em;
	border-radius: 10px 10px 0 0;
	color: #fff;
	background: var(--clr-header-background);
}

#title {
	font-family: var(--font-italics);
	font-weight: var(--font-weight-medium);
	font-size: 5.5rem;
	margin-left: 0.75em;
}

#stats {
	margin-left: auto;
	margin-right: 1em;
}

#stat-box {
	display: flex;
	flex-direction: column;
	height: auto;
	width: fit-content;
	border: 2px solid #fff;
	white-space: nowrap;
}

/* 2.Container Layout */

#container {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
	justify-content: center;
}

/* 3. Book layout*/

.book {
	position: relative;
	flex-direction: column;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
	font-weight: var(--font-weight-regular);
	height: 14em;
	width: 19em;
	background-color: var(--clr-neutral);
	border-radius: 10px;
	box-shadow: 5px 6px 6px var(--shadow-neutral);
	transition: all 1s;
	/* white-space: pre; */
}

.book:hover,
.book:focus {
	box-shadow: 0 4px 6px 4px var(--clr-accent);
}

/* 3.1 Read button Layout */

#read-button {
	width: 8em;
	height: 3em;
	background-color: var(--clr-accent);
	color: #fff;
	border-radius: 26px;
	margin-top: auto;
	margin-bottom: calc(var(--check-height) * 2);
}

/* 5. New book button */

#add-book-button {
	display: block;
	position: fixed;
	bottom: 25px;
	right: 25px;
	font-size: 40px;
	z-index: 999;
	cursor: pointer;
	color: var(--clr-accent);
	transition: 0.2s;
	border-radius: 50%;
}

#add-book-button:hover,
#add-book-button:focus {
	transform: rotate(90deg);
	font-size: 50px;
	/* box-shadow: 5px 6px 6px var(--shadow-neutral); */
	filter: drop-shadow(5px 6px 6px var(--shadow-neutral));
}

/* 6. New book window */

#form-container {
	display: flex;
	flex-direction: column;
	align-self: center;
	width: 15em;
	height: fit-content;

	border: black 5px solid;
	margin-right: auto;
	margin-left: auto;
	background-color: white;
}

#form-section {
	display: none;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(4px);
}
#form-title{
	margin: 0 auto;
	text-align: center;
}

.labels{
	font-weight: 800;
	margin-bottom: 0.25em;
}

.inputs{
	margin-bottom: 1em;
	font-size: 1rem;
	height: 1.75rem;
}

#newBookBtnTitle {
}

#subBtn{
	width: 6em;
	height: 2em;
	background-color: var(--clr-accent);
	color: #fff;
	border-radius: 26px;
	margin: 0 auto;
	font-size: 1rem;
}

#clBtn {
	position: relative;
	bottom: 362px;
	left: 241px;
	font-size: 2rem;
	color: #fff;
	cursor: pointer;
	width: fit-content;
	height: auto;
}

#clBtn:hover {
	color: #d11a2a;
}
/* 7. New book form inputs */

#add-book {
	display: flex;
	flex-direction: column;
	padding: 0.5em 0.25em 1em 0.25em;
}

.remove-book {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	padding: 0;
	margin-right: 1rem;
	font-size: 2rem;
	font-weight: bold;
	border: none;
	background-color: inherit;
	cursor: pointer;
}

/* 3.2 Delete book button layout */

#bookDeleteButton {
	position: absolute;
	bottom: 195px;
	left: 201px;
	background-color: #fff;
	border-radius: 10px;
	padding: 0 1em;
}

#bookDeleteButton:hover{
	background-color: #d11a2a;
	color: #fff;
	
}

/* 8. Book Read Checkmark */

.checkmark {
	display: none;
}

.checkmark.draw:after {
	animation-duration: 800ms;
	animation-timing-function: ease;
	animation-name: checkmark;
	transform: scaleX(-1) rotate(135deg);
}

.checkmark:after {
	opacity: 1;
	height: var(--check-height);
	width: var(--check-width);
	transform-origin: left top;
	border-right: var(--check-thickness) solid var(--check-color);
	border-top: var(--check-thickness) solid var(--check-color);
	content: "";
	left: var(--check-left);
	top: var(--check-top);
	position: absolute;
}

@keyframes checkmark {
	0% {
		height: 0;
		width: 0;
		opacity: 1;
	}
	20% {
		height: 0;
		width: var(--check-width);
		opacity: 1;
	}
	40% {
		height: var(--check-height);
		width: var(--check-width);
		opacity: 1;
	}
	100% {
		height: var(--check-height);
		width: var(--check-width);
		opacity: 1;
	}
}
