:root{
        --clr-blue: rgba(3, 169, 244, 0.3);
        --shadow-neutral: rgba(32, 33, 36, 0.28);
}

#container {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
}

#add-book {
	position: absolute;
	top: 0;
	right: 0;
    cursor: pointer;
}

.book {
	position: relative;
	display: flex;
	flex-direction: column;
	border: black 1px solid;
	height: 14em;
	width: 12em;
	background-color: var(--clr-blue);
	border-radius: 10px;
	box-shadow: 5px 6px 6px var(--shadow-neutral);
}

.book:hover,
.book:focus{
    box-shadow: 0 4px 6px 4px var(--clr-blue);
    
}

.remove-book {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	padding: 0;
	margin-right: 1rem;
	font-size: 2rem;
	font-weight: bold;
	border: none;
	background-color: inherit;
	cursor: pointer;
}

#form-container {
	display: none;
}
